@font-face {
  font-family: "iconfont"; /* Project id 4443546 */
  src: url('iconfont.woff2?t=1708833946619') format('woff2'),
       url('iconfont.woff?t=1708833946619') format('woff'),
       url('iconfont.ttf?t=1708833946619') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiguashipin-yuan:before {
  content: "\e731";
}

.icon-pinpaibiaoshi_douyin:before {
  content: "\e659";
}

